/* Reset */

html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif;
}

body {
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* App styles */

main {
  max-width: 840px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.global-message {
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

.global-message.error {
  color: #be3c20;
  background-color: #f6e1dc;
}

.global-message.success {
  color: #3d8b31;
  background-color: #eafae7;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

table {
  width: 100%;
}

table:not(:last-child) {
  margin-bottom: 1rem;
}

th {
  border-bottom: 2px solid #eaeaea;
  text-align: left;
}

td {
  border-bottom: 1px solid #eaeaea;
}

th, td {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

th:not(:first-child), td:not(:first-child) {
  padding-left: .5rem;
}

th:not(:last-child), td:not(:last-child) {
  padding-right: .5rem;
}

td:first-child {
  width: 8rem;
}

td:last-child {
  width: 5rem;
}

td button {
  width: 100%;
}

td input {
  width: 4rem;
}

.space-children {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-right {
  text-align: right;
}
